@(character: Character)

@main("Adventure!")(character) {
  <h1>Adventure!</h1>
  <div id="world" class="wide info, world">
    <svg id="map" version="1.1" width="800" height="600"
         xmlns="http://www.w3.org/2000/svg">
      <image id="mapimage" x="0" y="0" xlink:href="@routes.Assets.versioned("images/gen20210307225120.png")"></image>
    </svg>
  </div>
}
