@(implicit character: Character)

@main("Profile")(character) {
<h1>Profile</h1>
<div>Name @{character.name}</span></div>
<div>Food @{character.food}</div>
<div>Hunger @{character.hunger}</div>
<div>Power @{character.power}</div>
<div>Stamina @{character.stamina}</div>
}
