@(character: Character)

@main("Village")(character) {
<h1>Village</h1>
<div id="village" class="info">
    <div><button id="villageChiefButton">Chief</button></div>
    <div><button id="villageSpiritHutButton">Spirit Hut</button></div>
    <div><button id="villageCraftingButton">Crafting</button></div>
    <div><button id="villageHutButton">Hut</button></div>
</div>
<div id="villageChief" class="info, village">
    <button>Contribute</button>
</div>
<div id="villageSpiritHut" class="info, village">
    <button>Rest</button>
    <button>Sing</button>
    <button>Dance</button>
    <button>Play Instrument</button>
    <button>Heal</button>
    <button>Receive Healing</button>
</div>
<div id="villageCrafting" class="info, village">
    <button>Make Weapon</button>
    <button>Repair Weapon</button>
    <button>Make Tools</button>
    <button>Barter Weapon</button>
    <button>Barter Tools</button>
</div>
<div id="villageHut" class="info, village">
    <button>Rest</button>
</div>
}
